body {
  font-family: 'Roboto', sans-serif;
  background: #F3F5FC;
  width: 940px;
}

.logo {
  width: 12%;
  margin: 0px;
  border: 1px;
  padding: 10px;
  display: inline-block;
}
.titulo-principal {
  display: inline-block;
  width: 40%;
  height: 5%;
  margin-left: auto;
  margin-right: auto;
}

.titulo {
  text-align: center;
  font-family: 'Foldit', cursive;
  font-size: 70px;
  display: inline-block;
}
.cuerpo {
  width: 100%;
  height: 300px;
  margin: 2%;
  padding: 2%;
}
.contenedor1 {
  width: 50%;
  margin-top: auto;
  margin-left: 15%;
  margin-right: 25%;
  display: inline-block;
}
#area-texto {
  background: none;
  border: none;
  text-transform: lowercase;
    
}
#area-texto:focus{
  outline: none;
}
::placeholder{
  color: #0A3871;
}
.contenedor2 {
  width: 23%;
  height: 85%;
  left: 70%;
  top: 10%;
  display: inline-block;
  position: absolute;
  background: #ffffff;
  border-radius: 10px;

}
#imagenmuneco {
  width: 75%;
  height: 50%;
  top: 1%;
  left: 10%;
  right: 10%;
  margin: 5%;
  position: absolute;

}

.contenedor1 p {
  font-size: 0.8em;
  margin: 2%;
  justify-content: center;
}


.botones {
  text-align: center;
  width: 50%;
  position: relative;
  top: 20%;
  bottom: 1%;
  display: flex;
  
}
.contenedor2 p {
  margin: 5%;
  padding: 5%;
  top: 40%;
  text-align: center;
  position: relative;
  
}

.btn1 {
  
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  background: #0A3871;
  width: 120px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin: 5px;
  box-shadow: 2px 2px #03244c
}
.btn1:hover {
  background: #234c7d;
  transition: 300ms;
}
.btn1 span {
  color: #d5e0ed;
  text-shadow: 0.7px 0.7px #111 ;
}

.btn2 {
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  background: #D8DFE8;
  width: 120px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin: 5px;
  box-shadow: 2px 2px #525354
}
.btn2:hover {
  background: #cccfd6;
  transition: 300ms;
}
.desencriptar {
  color: #707378;
  text-shadow: 0.7px 0.7px rgb(79, 77, 77);
  
}

#area-texto2 {
  font-size: 0.7em;
  text-align: center;
  background: none;
  border: none;
  position: relative;
  top: auto;
  width: 70%;
  top: 40%;
  left: 10%;
  right: 10%;
  bottom: 3%;
  text-transform: lowercase;
}
#area-texto2:focus{
  outline: none;
}
.btn3 {
  text-align: center;
  align-content: center;
  text-decoration: none;
  border-radius: 24px;
  background: #D8DFE8;
  width: 120px;
  height: 25px;
  border: none;
  cursor: pointer;
  margin: 5px;
  top: 45%;
  left: 20%;
  box-shadow: 2px 2px #525354;
  position: relative;
}
.pie-pagina {
  font-weight: bold;
  font-size: 0.7em;
  width: 940px;
  height: 100px;
  padding: 2%;
  margin: 2%;
  text-align: center;
}

.link-git {
  text-decoration: none;
  cursor: pointer;
  color: #111;
}
.linkedin {
  width: 15px;
  height: 15px;
}